<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="MaxFileSize" value="52428800" /> <!-- 50MB -->
        <add key="TempDirectory" value="" /> <!-- Пустое значение = системная временная папка -->
        <add key="EnableLogging" value="true" />
        <add key="LogLevel" value="Info" />
    </appSettings>
    <system.diagnostics>
        <trace autoflush="true">
            <listeners>
                <add name="textWriterTraceListener" 
                     type="System.Diagnostics.TextWriterTraceListener" 
                     initializeData="WordDiffMerger.log" />
            </listeners>
        </trace>
    </system.diagnostics>
</configuration>